@media screen and (min-width: 768px) and (max-width: 909px) {
 
    .feature.app {
        height: 600px;
    }
    
}

@media screen and (min-width: 910px) {
 
    .feature.app {
        height: 480px;
    }
    
}

@media screen and (max-width: 768px) {
    
    .meet-our-team, 
    .meet-our-team-menu-button,
    .demo
    {
        display: none;
    }
    
}

/* APP LINKS */

img.app-button {
    margin-top: 25px;
/*    margin-bottom: 25px;*/
}

/* How it Works */

.how-it-works {
    background-color: #F7F7F7;
}

@media screen and (min-width: 769px) {
    .demo {
        display: flex;
        display: -webkit-flex;
        -webkit-justify-content: center;
    }
}

iframe {
    position: absolute;
    top: 100px;
    left: 50px;
/*    width: 290px;*/
}

/* REVIEW */

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption {
    margin-top: 15px;
    color: #272727;
}

span.person-name {
    display: block;
    margin-top: 10px;
    padding-left: 10px;
    color: #272727;
}

img.avatar {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 1px solid #272727;
}

/* MEET OUR TEAM */

.meet-our-team {
    padding: 0;
}

.team-name {
    font-size: 24px;
}

.team-description {
    font-size: 11px;
}

/* FOOTER */

footer {
    background-color: #272727;
}

.footer-4 .social-links li {
    width: 50%;   
}
