@media screen and (min-width: 768px) and (max-width: 909px) {

    .feature.app {
        height: 600px;
    }

}

@media screen and (min-width: 910px) {

    .feature.app {
        height: 480px;
    }

}

@media screen and (max-width: 768px) {

    .demo {
        display: none;
    }

}
@media screen and (min-width: 768px) {

    .reversedemo
    {
        display: none;
    }

}

/* APP LINKS */

img.app-button {
    margin-top: 25px;
/*    margin-bottom: 25px;*/
}

/* How it Works */

.how-it-works {
    background-color: #F7F7F7;
}

@media screen and (min-width: 769px) {
    .demo {
        display: flex;
        display: -webkit-flex;
        -webkit-justify-content: center;
    }
}

iframe {
    position: absolute;
    top: 100px;
    left: 50px;
/*    width: 290px;*/
}

/* REVIEW */

.reviews {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.caption {
    font-size: 20px;
}

.person-name {    
    display: block;
    text-align: center;
    padding-top: 10px;
}

.slider-nav .slick-slide img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    width: 100%;
    border-radius: 50%;
    padding: 10px;
    opacity: 0;
    cursor: pointer;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.slider-nav .slick-slide.slick-active img {
    opacity: .6;   
}

.slider-nav .slick-slide.slick-active.slick-center img {
    -webkit-filter: grayscale(0) !important;
    filter: grayscale(0) !important;
    opacity: 1
}

/* FOOTER */

footer {
    background-color: #272727;
}

.footer-4 .social-links li {
    width: 50%;
}

/* FAQ */

.parallax.faq-top-image {
    top: -100px;
}

/* MEET OUR TEAM */

@media (max-width: 767px) {
    .header-11 {
        padding: 160px 0;
    }
}

.parallax.team-top-image {
    top: 0;
}

.meet-our-team {
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.team-name {
    font-size: 24px;
}

.team-description {
    font-size: 11px;
}

.hidden {
    display: none;
}

.show-more {
    margin-top: 25px;
    margin-bottom: 25px;
}



