<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= title %></title>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>

	<section class="header header-11 overlay fixed-header parallax">

		<div class="background-image-holder parallax faq-top-image">
			<img alt="Background Image" class="background-image parallax" src="/img/background/hike.jpg">
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h1 class="text-white">Frequently Asked Questions</h1>
				</div>
			</div>
		</div>
	</section>

	<section class="faq faq-1">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="faq">
						<h5>What can I share on partiO?</h5>
						<p>
							Anything you own that is taking up space. Your old Orgo textbook, your old racing game, your gigantic tent (that, let’s be honest, you won’t use for another 3 months), or your old tennis racket. PartiO is a platform to share the things that would largely go to waste.
						</p>
					</div>

					<div class="faq">
						<h5>What can I borrow on partiO?</h5>
						<p>
							Anything! Planning to bake a birthday cake, but don’t have any cooking utensils? Want to play that new game, but don’t own a new console? Have a test coming up, but only need that textbook for two weeks? Let partiO help you connect with your peers to find what you need!
						</p>
					</div>

					<div class="faq">
						<h5>How do I communicate with the person I want to borrow an item from?<br></h5>
						<p>
							PartiO has an integrated chat function. Once you have requested an item from a peer and they have approved your request, you can message them and set up a meeting time and place. You can also give them a call, phone numbers are encrypted and protected to ensure anonymity. It’s as simple as that.
						</p>
					</div><div class="faq">
						<h5>What happens if the borrower doesn’t return my item? <br></h5>
						<p>
							PartiO is a community based on mutual respect and trust. While our user review system encourages community members to play by the rules, we do understand that there are exceptions to the rule. If a borrower does not return an item, we highly encourage the lender to contact us. We then will contact the user and ask them to return the item as soon as possible. The borrower will be charged a late-return fee that will be transferred to the lender’s  account.  If the borrower does not return the item, we will charge him/her the full amount for the item and will them transfer that amount to the lender’s account.
						</p>
					</div><div class="faq">
						<h5>How do I exchange the item with the person I am sharing with or borrowing from?<br></h5>
						<p>
							PartiO’s chat function makes it easy to reach out to your peers.  Once you have communicated and found a good time to meet, use the integrated Google Maps feature to set up a meeting point on campus. Then, just meet your peer and exchange the item!
						</p>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="faq">
						<h5>How do I pay to borrow something? </h5>
						<p>Step 1: Sign up.<br>Step 2: Link your debit card to your partiO account.<br>Step 3: Request an item you want.<br>Step 4: Set up a meeting time and place with your peer.<br>Step 5: Meet your peer on campus and get your item.<br>Step 6: Confirm the payment.<br>Step 7: Have fun with your new partiO item.&nbsp;</p>
					</div>

					<div class="faq">
						<h5>How do I get paid when people rent from me?</h5>
						<p>Step 1: Sign up.<br>Step 2: Link your debit card to your partiO account.<br>Step 3: Approve a request for your item.<br>Step 4: Set up a meeting time and place with your peer.<br>Step 5: Meet your peer on campus and share your item.<br>Step 6: Once your peer has confirmed the payment, the money will automatically be transferred to your bank account. <br>Step 7: Get excited that you just made easy money.&nbsp;</p>
					</div><div class="faq">
						<h5>What happens if the item I shared with someone gets damaged?</h5>
						<p>PartiO is all about you, the users. Therefore, customer satisfaction is our number one priority. <br>While we cannot be held liable for any damage, we promise to commit reasonable effort to help the user should an item incur damage beyond normal wear and tear. <br>With our user review system put in place, we hope to foster a safe environment based on mutual respect and trust. Again, partiO is all about you.&nbsp;<br></p>
					</div><div class="faq">
						<h5>What happens if I accidently damage the item that I borrowed from a peer? </h5>
						<p>PartiO asks that all borrowers treat the borrowed goods with the utmost of care, but we realize that accidents happen.  Should an item be damaged beyond what can be deemed normal wear and tear, partiO shall evaluate damage and withdraw any amounts from the borrower’s account as necessary to make the lender whole. Borrowers should closely inspect the items they are borrowing before accepting them and immediately prior to returning them.  Lenders should also closely inspect their items before lending them out and immediately after they are returned. &nbsp;<br></p>
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-sm-12 text-center">
					<h4>Still have questions? Email <a href="mailto:support@partioapp.com">support@partioapp.com</a></h4>
				</div>
			</div>
		</div>
	</section>
	
	<% include ../partials/footer %>

	<script>
	$(document).ready(function(){
		$('[href="#home"]').click(function(e){
			e.preventDefault();
			window.location = "/";
		});
        
        $('[href="#testimonials"]').click(function(e){
			e.preventDefault();
			window.location = "/#testimonials";
		});
        
        $('[href="#who-are-we"]').click(function(e){
			e.preventDefault();
			window.location = "/#who-are-we";
		});
        
        $('[href="#how-does-it-work"]').click(function(e){
			e.preventDefault();
			window.location = "/#how-does-it-work";
		});
        
        $('[href="#download-now"]').click(function(e){
			e.preventDefault();
			window.location = "/#download-now";
		});
	})
	</script>
</body>
</html>