<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= title %></title>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>

	<a id="home" class="in-page-link"></a>

	<section class="header header-5 parallax">
		<div class="background-image-holder" style="top:0">
			<img alt="Background Image" class="background-image" src="/img/background/try7.png">
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h1 class="text-white">We're changing how you use "stuff".</h1>
					<h5 class="text-white">Make money from stuff you already own. Get the things you need quickly and easily.</h5>
				</div>
			</div>
		</div>

		<div class="modal-video-container">
			<div class="play-button large"></div>
			<div class="modal-video">
				<video controls="">
					<source src="/video/partio.mp4" type="video/mp4">
	    			<source src="/video/partio.ogg" type="video/ogg">
	     			<source src="/video/partio.webm" type="video/webm">
				</video>
			</div>
		</div>

		<div class="form-holder">
			<h6 class="text-white"> </h6>
			<div class="row" >
					<div class="col-sm-12 text-center">
	    			<div class ="cta cta-10 parallax">
			            <a href="https://itunes.apple.com/ve/app/partio-app/id1051283078?l=en&mt=8" target="_blank">
			              <img alt="App Store" src="/img/appstore.png" class="app-button">
			            </a>
			            <a href="https://play.google.com/store/apps/details?id=com.partio.app" target="_blank">
			              <img alt="Google Play" src="/img/googleplay.png" class="app-button">
			            </a>
						<!-- <a class="btn btn-filled inner-link" style:"  border-radius: 20px;" href="#who-are-we" target="default">Learn More</a> -->
						<p class="sub" > <br>  Download Now on the App Store and Google Play</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<a id="who-are-we" class="in-page-link"></a>

	<section class="features features-3">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
					<h3>The next big social marketplace.</h3>
					<p>PartiO is a social marketplace with the goal of revolutionizing the way college students use their stuff.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4 text-center feature">
					<i class="icon-map-streamline-user"></i>
					<h5>Rent instead of buying.</h5>
					<p>
						If you only need something for a short time, borrow it from members of the community, saving time and money.</p>
				</div>

				<div class="col-sm-4 text-center feature">
					<i class="icon-magnifier"></i>
					<h5>Find&nbsp;items within your college.</h5>
					<p>
						Your friends and classmates already own the things you need. PartiO provides a mechanism to connect you to those goods.</p>
				</div>

				<div class="col-sm-4 text-center feature">
					<i class="icon-receipt-shopping-streamline"></i>
					<h5>Profit&nbsp;from what you own</h5>
					<p>
						Earn money simply by renting out things you don't need on a daily basis.&nbsp;</p>
				</div>
			</div>
		</div>
	</section>

	<a id="features" class="in-page-link"></a>

	<section class="header header-11 overlay parallax" style="height:500px;">

		<div class="background-image-holder">
			<img alt="Background Image" class="background-image" src="/img/background/game3.jpg">
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center" style="margin-top:25px;">
				 	<h1 class="text-white"> Have extra stuff in your room? Need some cash? Join the PartiO community!!</h1>
				</div>
			</div>
		</div>
	</section>

	<section class="features features-15">
		<div class="row">
			<div class="col-sm-4 text-center feature app">
				<i class="icon-handle-streamline-vector"></i>
				<h5 class="text-white">Unique Image Scanning Technology</h5>
				<p class="text-white">
					Scan your product with our product recognition software. Just take a picture of your item and our software will find it's closest match, providing you with a recommended price and eliminating cumbersome data entry.</p>
			</div>

			<div class="col-sm-4 text-center feature app">
				<i class="icon-map"></i>
				<h5 class="text-white">Completely Autonomous Platform</h5>
				<p class="text-white">
					PartiO has built in calling, texting, and mapping features that help protect your privacy and ensure simplicity of usage.<br><br><br></p>
			</div>

			<div class="col-sm-4 text-center feature app">
				<i class="icon-bubble-love-streamline-talk"></i>
				<h5 class="text-white">User Rating System</h5>
				<p class="text-white">As a system built on trust, PartiO is keen on ensuring the quality of items and users on the platform. Therefore, we have a rating system that helps weed out mal-use and protect our users. We also have practices to prevent item damages.
				<br><br></p>
			</div>
		</div>
	</section>

	<!--
	<section class="features features-5 bg-secondary hidden-xs">
		<div class="container">
			<div class="row v-align-children">

				<div class="col-sm-6 col-md-5 feature text-right">
					<h4>We believe in a world where assets are utilized more efficiently, contributing to a more sustainable economy. </h4>

				</div>

				<div class="col-sm-6 col-md-offset-1 text-center feature">
					<img alt="Feature Image" src="/img/partio-angled2.png">
				</div>

			</div>
		</div>
	</section>
	-->

	<a id="prettypicture" class="in-page-link"></a>

	<section class="header header-11 overlay parallax" style="height:500px;">

		<div class="background-image-holder">
			<img alt="Background Image" class="background-image" src="/img/background/woman.jpg">
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center" style="margin-top:25px;">
					<h1 class="text-white"> PartiO is all about the sharing economy. Why buy and waste when you can rent? </h1>
				</div>
			</div>
		</div>
	</section>

	<a id="how-does-it-work" class="in-page-link"></a>

	<section class="features features-6 how-it-works">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h3 class="demo-title">How does it work? Click a feature to demo!</h3>
	  <h3 class="reversedemo">How does it work?</h3>
				</div>
			</div>

	        <div class="col-sm-12 col-md-6 demo">
                <img id="loader" src="/img/loader/loader.gif" style="display:none">
	            <img id="gifDemo" src="/img/gifs/login.gif">
	<!--                        <iframe src="http://www.partiodemo.com"></iframe>-->
	        </div>

		    <div class="col-sm-12 col-md-6">

				<div class="row">
					<div class="col-md-6 col-sm-6 text-center feature scan-product">
						<i class="icon-handle-streamline-vector colorred"></i>
						<h5>Scan your product</h5>
					</div>

					<div class="col-md-6 col-sm-6 text-center feature set-price">
						<i class="icon-arrow-streamline-target colorred"></i>
						<h5>Set pricing</h5>
					</div>

					<div class="col-md-6 col-sm-6 text-center feature allow-renting">
						<i class="icon-caddie-shop-shopping-streamline colorred "></i>
						<h5>Accept/deny rental requests</h5>
					</div>

					<div class="col-md-6 col-sm-6 text-center feature get-paid">
						<i class="icon-ribbon colorred"></i>
						<h5>Get paid!</h5>
					</div>

					<div class="col-md-6 col-sm-6 text-center feature inventory">
						<i class="icon-iphone-streamline colorred"></i>
						<h5>Search the inventory</h5>
					</div>

                    <div class="col-md-6 col-sm-6 text-center feature shoutout">
						<i class="icon-speech-streamline-talk-user coloror"></i>
						<h5>Shout Out!</h5>
					</div>

					<div class="col-md-6 col-sm-6 text-center feature request">
						<i class="icon-caddie-shopping-streamline coloror"></i>
						<h5>Request rental from user</h5>
					</div>

                    <div class="col-md-6 col-sm-6 text-center feature chat">
						<i class="icon-bubble-comment-streamline-talk coloror"></i>
						<h5>Chat with requestor/owner</h5>
					</div>

	                <div class="col-md-6 col-sm-6 text-center feature map">
						<i class="icon-map-streamline-user coloror"></i>
						<h5>Meet user locally</h5>
					</div>

	                <div class="col-md-6 col-sm-6 text-center feature login">
						<i class="icon-happy-smiley-streamline coloror"></i>
						<h5>Save money and enjoy!</h5>
					</div>

				</div>

	        </div>
		</div>
	</section>

	<a id="download-now" class="in-page-link"></a>

	<section class="cta cta-10 parallax">
	    <div class="background-image-holder">
			<img alt="Background Image" class="background-image" src="/img/background/bike.jpg">
		</div>
	<!--
		<div class="background-image-holder">
			<img alt="Background Image" class="background-image" src="/img/hero12.jpg">
		</div>
	-->

		<div class="container">
	        <div class="row">
				<div class="col-sm-12 text-center">
					<h3 class="text-white">Get the App!</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 text-center">
					<a href="https://itunes.apple.com/ve/app/partio-app/id1051283078?l=en&mt=8" target="_blank">
						<img alt="App Store" src="/img/appstore.png" class="app-button">
					</a>

					<a href="https://play.google.com/store/apps/details?id=com.partio.app" target="_blank">
						<img alt="Google Play" src="/img/googleplay.png" class="app-button">
					</a>
				</div>
			</div>
		</div>
	</section>

	<!--
	<a id="demo-the-app" class="in-page-link"></a>

	<section class="features features-4">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6 feature demo">
	                <img src="/img/blackiphone3.png">
	                <iframe src="http://www.partiodemo.com"></iframe>
				</div>

				<div class="col-sm-12 col-md-6 feature">
					<h4 > <b>Demo the PartiO App </b> </h4>
					<p>Interact with the demo app on the right! This is a real time representation of the PartiO app in your local area. All items listed are available for rental right now!</p>
				</div>
			</div>
		</div>
	</section>
	-->

	<!-- Testimonials -->

	<a id="testimonials" class="in-page-link"></a>

	<section class="testimonials" style="height:130px;width:100%;">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center" style="height: 100px; margin-top:30px;">
					<h3>Testimonials</h3>
				</div>
			</div>
		</div>
	</section>

	<section class="testimonials">
		<div class="right">
			<div class="bg-image-testimonial" style="background:url('/img/testimonial/1_camping.jpg');"></div>
			<div class="bg-image-testimonial" style="background:url('/img/testimonial/1_ipad.jpg');"></div>
			<div class="bg-image-testimonial" style="background:url('/img/testimonial/1_students.jpg');"></div>
			<div class="bg-image-testimonial" style="background:url('/img/testimonial/1_girl.jpg');"></div>
			<div class="bg-image-testimonial" style="background:url('/img/testimonial/1_students_smile.jpg');"></div>
		</div>

		<div class="left">
		  <div class="blockquote color1">
		  	<span>
					<p class="phrase">
						“The app design is great and shows<br> the
						power of people with a passion. The UI makes for a great experience.”
					</p>
					<hr>
					<cite>
						<span class="cite-name">
							Most commonly rented item?
						</span>
						<span class="cite-position" style="text-transform:none;">
							"I've rented a Digital Camera, Textbooks, Camping Gear, and a Jersey"
						</span>
						<span class="cite-company sr-only">
							- One Kings Lane
						</span>
						<a href="/faq" class="btn">
							What can I rent on PartiO?
						</a>
					</cite>
				</span>
		  </div>

		  <div class="blockquote" style="background-color: #FF6208;">
		    <span>
					<p class="phrase">
						“PartiO is easy to use and intuitive. It's also practical and fun. It's literally changed the way I cram for exams.”
					</p>
					<hr>
					<cite>
							<span class="cite-name">
								How long can I rent an item?
							</span>
							<span class="cite-position "style="text-transform:none;">
								Any amount of time between one day and one semester!
							</span>
							<span class="cite-company sr-only">

							</span>
							<a href="/faq" class="btn">
								How can I borrow something?
							</a>
					</cite>
				</span>
		  </div>

		  <div class="color3 blockquote" style="background-color: #FFA333;">
				<span>
					<p class="phrase">
						“PartiO makes it easier and cheaper to get the stuff you need, and gets moneys for those with extra stuff. It's a win-win for everyone.”
					</p>
					<hr>
					<cite>
						<span class="cite-name">
							Are there any protections for users?
						</span>
						<span class="cite-position "style="text-transform:none;">
							PartiO takes the quality of our community very seriously! We have strict rules to <br> maintain an excellent user experience.
						</span>
						<span class="cite-company sr-only">

						</span>
						<a href="/faq" class="btn">
							Read more about protections
						</a>
					</cite>
				</span>
		  </div>

		  <div class="color4 blockquote" style="background-color: #EE4435;">
				<span>
					<p class="phrase">
						“PartiO promises to revolutionise renting - why buy more when my friends have what I need?”
					</p>
					<hr>
					<cite>
						<span class="cite-name">
							How does PartiO work?
						</span>
						<span class="cite-position "style="text-transform:none;">
							1. Download the PartiO app and click either Share or Rent.<br> 2. See what's avaliable in your area, or add items to make $$!
						</span>
						<span class="cite-company sr-only">

						</span>
						<a href="/faq" class="btn">
							Learn More!
						</a>
					</cite>
				</span>
		  </div>

		  <div class="color5 blockquote" style="background-color: #D1301B;">
				<span>
					<p class="phrase">
						“PartiO has given me the opportunity to make some spare cash over the course of the year - it's really helped out!”
					</p>
					<hr>
					<cite>
						<span class="cite-name">
							Does PartiO take any of the money?
						</span>
						<span class="cite-position "style="text-transform:none;">
							As we're just getting started, we're not taking any proceeds from transactions on our platform!
						</span>
						<span class="cite-company sr-only">
						</span>
						<a href="/faq" class="btn">
							Read more about PartiO's policies!
						</a>
					</cite>
				</span>
			</div>
		</div>

		<div id="bar" class="bar0">
			<img src="http://www.desk.com/themes/bolt/assets/img/active-arrow.png" />
		</div>

		<div class="bottom">
			<div>
			  <div class="cd-author">
			    <img src="/img/testimonial/lauren.jpg" alt="Lauren Hagedorn">
			    <ul class="cd-author-info">
			      <li>Lauren Hagedorn</li>
			      <li>Pysch/Enviro Studies, Duke University</li>
			    </ul>
			  </div>
			</div>

			<div>
			  <div class="cd-author">
			    <img src="/img/testimonial/tanaka.jpg" alt="Tanaka">
			    <ul class="cd-author-info">
			      <li>Tanaka</li>
			      <li>Computer Science, Duke University</li>
			    </ul>
			  </div>
			</div>

			<div>
			  <div class="cd-author">
			    <img src="/img/testimonial/jack.jpg" alt="Jack Gavigan">
			    <ul class="cd-author-info">
			      <li>Jack Gavigan</li>
			      <li>Pre-Med, Duke University</li>
			    </ul>
			  </div>
			</div>

			<div>
			  <div class="cd-author">
			    <img src="/img/testimonial/adam.jpg" alt="Adam Yaseem">
			    <ul class="cd-author-info">
			      <li>Adam Yaseem</li>
			      <li>Biophysics, Duke University</li>
			    </ul>
			  </div>
			</div>

			<div>
			  <div class="cd-author">
			    <img src="/img/testimonial/pedro.jpg" alt="Pedro Vadeer">
			    <ul class="cd-author-info">
			      <li>Pedro Vadeer</li>
			      <li>Computer Science, Duke University</li>
			    </ul>
			  </div>
			</div>
		</div>
	</section>

	<!-- Have more questions? -->

	<section class="cta cta-10 parallax">
		<div class="background-image-holder">
			<img alt="Background Image" class="background-image" src="/img/background/hike.jpg">
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h3 class="text-white">Have more questions?</h3>
					<br>
					<a class="btn btn-filled super-action" href="/faq">FAQ</a>
					<a style="margin-left:15px;" class="btn btn-filled super-action" href="/contact">Contact Us</a>
				</div>
			</div>
		</div>
	</section>

	<a id="meet-our-team" class="in-page-link"></a>

	<section class="meet-our-team" style="height:130px;width:100%;">

		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center" style="height: 100px; margin-top:30px;">
					<h3>Meet our Team</h3>
				</div>
			</div>
		</div>
	</section>

	<section class="features features-18 meet-our-team">
		<div class="text-center feature image-holder col-sm-3 col-md-2 team-member">

			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/team/talles.jpg">
			</div>

			<div class="container" variant-clone-closest=".feature">
					<h4 class="text-white team-name">Talles Souza<br></h4>
					<p class="text-white team-description">Talles is a passionate entrepreneur fascinated by the fields of Finance and Technology. His goal with partiO is to find the best people for the team in order to create a platform that will increase the efficiency of goods. Talles’ goal is to someday be able to rent a Nintendo 3DS and Pokemon game through partiO.<br></p>
			</div>
		</div>

		<div class="text-center feature image-holder col-sm-3 col-md-2 team-member">

			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/team/trenton.jpg">
			</div>

			<div class="container" variant-clone-closest=".feature">
					<h4 class="text-white team-name">Trent Large</h4>
					<p class="text-white team-description">Trenton is a tech nerd who spends his free time reading every news blog known to man. He also happens to be the CTO of partiO. He’s currently directing the build-out of the partiO platform and is excited to be able to rent out his tri-lingual collection of Harry Potter books in the near future.</p>
			</div>
		</div>

		<div class="text-center feature image-holder col-sm-3 col-md-2 team-member">

			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/team/grant.jpg">
			</div>

			<div class="container" variant-clone-closest=".feature">
					<h4 class="text-white team-name">Christopher Grant</h4>
					<p class="text-white team-description">Grant is in charge of fostering business partnerships at partiO. He’s also the resident problem-solver and visionary and is approximately five steps ahead of any issue.</p>
			</div>
		</div>

	    <!-- <div class="text-center feature image-holder col-sm-3 col-md-2 team-member">

			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/team/whitney.jpg">
			</div>

			<div class="container" variant-clone-closest=".feature">
					<h4 class="text-white team-name">Whitney Hazard</h4>
					<p class="text-white team-description">Whitney is the Chief Marketing Officer at partiO. She is in charge of all things marketing from developing the brand, to long term business strategy, and everything in between. Her goal is to use technology to solve problems facing the world today. She loves working at a tech startup, and can't wait to make partiO the next big thing.</p>
			</div>
		</div> -->

	    <div class="text-center feature image-holder col-sm-3 col-md-2 team-member">
			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/team/linda.jpg">
			</div>

			<div class="container" variant-clone-closest=".feature">
					<h4 class="text-white team-name">Linda Cyr</h4>
					<p class="text-white team-description">Linda is an advisor at partiO. Formerly an entrepreneurship faculty member at Harvard Business School and MIT Sloan, Linda has advised teams in many entrepreneurial ventures. She is energized to be working with the partiO team and is committed to helping it reach its full potential.</p>
			</div>
		</div>

	    <div class="text-center feature image-holder col-sm-3 col-md-2 team-member">
			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/team/azhar.jpg">
			</div>

			<div class="container" variant-clone-closest=".feature">
					<h4 class="text-white team-name">Salman Azhar</h4>
					<p class="text-white team-description">Salman Azhar is currently Entrepreneur in Residence and Visiting Associate Professor at Duke University. He also is the Chief Product Officer at iSKY, a growing customer experience management company. He an Charter Member of TiE Silicon Valley, and an advisor to over 10 startups and venture funds.</p>
			</div>
		</div>

		<div class="text-center feature image-holder col-sm-3 col-md-2 team-member">
			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/team/chunge.jpg">
			</div>

			<div class="container" variant-clone-closest=".feature">
					<h4 class="text-white team-name">Chunge Wang</h4>
					<p class="text-white team-description">Chunge is a business analyst at partiO and works on a variety of projects on a day to day basis. He believes that partiO will greatly improve lifestyle of users and the use of belongings.</p>
			</div>
		</div>

	    <div class="text-center col-sm-12 col-md-12 show-more">
	        <button id="showMore" class="btn btn-default"> Show All Members </button>
	    </div>



	   <!--  <div class="text-center feature image-holder col-sm-3 col-md-2 team-member hidden">
			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/team/thamina.png">
			</div>

			<div class="container" variant-clone-closest=".feature">
					<h4 class="text-white team-name">Thamina Stoll</h4>
					<p class="text-white team-description">Thamina, currently serving as an advisor, comes from a journalism and digital marketing background and brings enthusiasm and dedication to all parts of her life. She aspires to make a real difference in this world and believes that partiO has the potential to make this dream come true.</p>
			</div>
		</div> -->

	    <div class="text-center feature image-holder col-sm-3 col-md-2 team-member hidden">
			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/team/michael.jpg">
			</div>

			<div class="container" variant-clone-closest=".feature">
					<h4 class="text-white team-name">Michael Li</h4>
					<p class="text-white team-description">Michael is the newest member of the partiO executive team. He is responsible for launching the product at Duke. He conducts market research and and helps invent new features to make partiO the best platform it can be.</p>
			</div>
		</div>

	    <div class="text-center feature image-holder col-sm-3 col-md-2 team-member hidden">
			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/team/ansh.jpg">
			</div>

			<div class="container" variant-clone-closest=".feature">
					<h4 class="text-white team-name">Ansh Bhagat</h4>
					<p class="text-white team-description">Ansh is the Head Campus Amabassador at Yale. His goal is to help partiO expand to Yale and the other Ivy League Universities. He wants to introduce people to the idea of a sharing economy and help them connect to it through partiO.</p>
			</div>
		</div>

	    <!-- <div class="text-center feature image-holder col-sm-3 col-md-2 team-member hidden">
			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/team/breno.jpg">
			</div>

			<div class="container" variant-clone-closest=".feature">
					<h4 class="text-white team-name">Breno Alves</h4>
					<p class="text-white team-description">Breno is a new addition to the partiO team. He works with Clayton to build and refine the front-end of the partiO platform.</p>
			</div>
		</div>
 -->
	    <div class="text-center feature image-holder col-sm-3 col-md-2 team-member hidden">
			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/team/clayton.jpg">
			</div>

			<div class="container" variant-clone-closest=".feature">
				<h4 class="text-white team-name">Clayton Marinho</h4>
				<p class="text-white team-description">Clayton is full stack web developer and javascript enthusiast. He's very excited to be part of the partiO team.</p>
			</div>
		</div>

	    <div class="text-center feature image-holder col-sm-3 col-md-2 team-member hidden">
			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/team/lucas.jpg">
			</div>

			<div class="container" variant-clone-closest=".feature">
				<h4 class="text-white team-name">Lucas Bassetti</h4>
				<p class="text-white team-description">Lucas is fascinated by web and mobile developing. His goal with partiO is to improve the application and create the best UI experience for the users.</p>
			</div>
		</div>

	    <div class="text-center feature image-holder col-sm-3 col-md-2 team-member hidden">
			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/team/petar.jpg">
			</div>

			<div class="container" variant-clone-closest=".feature">
					<h4 class="text-white team-name">Petar Korponaić</h4>
					<p class="text-white team-description">Petar Korponaić is software engineer and author of widely used open source project Meteor Kitchen. He is also a code generator for Meteor.js, a member of useful.io team, and an official professional service provider for Meteor. He’s excited to help develop partiO.</p>
			</div>
		</div>

	</section>


	<!--
	<section class="cta cta-10 parallax hidden-xs">
		<div class="background-image-holder">
			<img alt="Background Image" class="background-image" src="/img/hero7.jpg">
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<a class="btn btn-filled super-action inner-link" href="#faq" target="default">FAQ and Contact Us</a>
				</div>
			</div>
		</div>
	</section>
	-->

	<!--
	<section class="cta cta-6">
		<div class="container">
			<div class="row v-align-children">
				<div class="col-md-8 col-sm-7">
					<h3>FAQ</h3>
					<p>Read up for more information and answers to your questions!</p>
				</div>

				<div class="col-sm-5 text-right col-md-5">
					<a class="btn inner-link" href="#home" target="default">Return to Top</a>
					<a class="btn btn-filled" href="mailto:support@partioapp.com" target="default">Contact Us</a>
				</div>
			</div>
		</div>
	</section>
-->

	<% include ../partials/footer %>

	<% if (tryValidate) { %>
		<script>
			$(document).ready(function(){
				<% if (_user) { %>
					sweetAlert("Success", "Welcome, <%= _user %>. Let's Partio!", "success");
				<% } else { %>
					sweetAlert("Ops...", "Something went wrong! Your token is invalid.", "error");
				<% } %>
			})
		</script>
	<% } %>
</body>
</html>
