<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= title %></title>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>

	<section class="header header-11 overlay fixed-header parallax">

		<div class="background-image-holder parallax team-top-image">
			<img alt="Background Image" class="background-image parallax" src="/img/bike.jpg">
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h1 class="text-white">Meet our Team</h1>
				</div>
			</div>
		</div>
	</section>
    
	<section class="features features-18 meet-our-team">
		<div class="text-center feature image-holder col-sm-3 col-md-2 team-member">

			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/team/talles.jpg">
			</div>

			<div class="container" variant-clone-closest=".feature">
					<h4 class="text-white team-name">Talles Souza<br></h4>
					<p class="text-white team-description">Talles is a passionate entrepreneur fascinated by the fields of Finance and Technology. His goal with partiO is to find the best people for the team in order to create a platform that will increase the efficiency of goods. Talles’ goal is to someday be able to rent a Nintendo 3DS and Pokemon game through partiO.<br></p>
			</div>
		</div>

		<div class="text-center feature image-holder col-sm-3 col-md-2 team-member">

			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/team/trenton.jpg">
			</div>

			<div class="container" variant-clone-closest=".feature">
					<h4 class="text-white team-name">Trent Large</h4>
					<p class="text-white team-description">Trenton is a tech nerd who spends his free time reading every news blog known to man. He also happens to be the CTO of partiO. He’s currently directing the build-out of the partiO platform and is excited to be able to rent out his tri-lingual collection of Harry Potter books in the near future.</p>
			</div>
		</div>

		<div class="text-center feature image-holder col-sm-3 col-md-2 team-member">

			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/team/grant.jpg">
			</div>

			<div class="container" variant-clone-closest=".feature">
					<h4 class="text-white team-name">Christopher Grant</h4>
					<p class="text-white team-description">Grant is in charge of fostering business partnerships at partiO. He’s also the resident problem-solver and visionary and is approximately five steps ahead of any issue.</p>
			</div>
		</div>

	    <div class="text-center feature image-holder col-sm-3 col-md-2 team-member">

			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/whit.jpg">
			</div>

			<div class="container" variant-clone-closest=".feature">
					<h4 class="text-white team-name">Whitney Hazard</h4>
					<p class="text-white team-description">Whitney is the Chief Marketing Officer at partiO. She is in charge of all things marketing from developing the brand, to long term business strategy, and everything in between. Her goal is to use technology to solve problems facing the world today. She loves working at a tech startup, and can't wait to make partiO the next big thing.</p>
			</div>
		</div>

	    <div class="text-center feature image-holder col-sm-3 col-md-2 team-member">
			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/team/linda.jpg">
			</div>

			<div class="container" variant-clone-closest=".feature">
					<h4 class="text-white team-name">Linda Cyr</h4>
					<p class="text-white team-description">Linda is an advisor at partiO. Formerly an entrepreneurship faculty member at Harvard Business School and MIT Sloan, Linda has advised teams in many entrepreneurial ventures. She is energized to be working with the partiO team and is committed to helping it reach its full potential.</p>
			</div>
		</div>

	    <div class="text-center feature image-holder col-sm-3 col-md-2 team-member">
			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/team/azhar.jpg">
			</div>

			<div class="container" variant-clone-closest=".feature">
					<h4 class="text-white team-name">Salman Azhar</h4>
					<p class="text-white team-description">Salman Azhar is currently Entrepreneur in Residence and Visiting Associate Professor at Duke University. He also is the Chief Product Officer at iSKY, a growing customer experience management company. He an Charter Member of TiE Silicon Valley, and an advisor to over 10 startups and venture funds.</p>
			</div>
		</div>

	    <div class="text-center feature image-holder col-sm-3 col-md-2 team-member">
			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/team/chunge.jpg">
			</div>

			<div class="container" variant-clone-closest=".feature">
					<h4 class="text-white team-name">Chunge Wang</h4>
					<p class="text-white team-description">Chunge is a business analyst at partiO and works on a variety of projects on a day to day basis. He believes that partiO will greatly improve lifestyle of users and the use of belongings.</p>
			</div>
		</div>

	    <div class="text-center feature image-holder col-sm-3 col-md-2 team-member">
			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/team/thamina.png">
			</div>

			<div class="container" variant-clone-closest=".feature">
					<h4 class="text-white team-name">Thamina Stoll</h4>
					<p class="text-white team-description">Thamina, currently serving as an advisor, comes from a journalism and digital marketing background and brings enthusiasm and dedication to all parts of her life. She aspires to make a real difference in this world and believes that partiO has the potential to make this dream come true.</p>
			</div>
		</div>

	    <div class="text-center feature image-holder col-sm-3 col-md-2 team-member">
			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/team/michael.jpg">
			</div>

			<div class="container" variant-clone-closest=".feature">
					<h4 class="text-white team-name">Michael Li</h4>
					<p class="text-white team-description">Michael is the newest member of the partiO executive team. He is responsible for launching the product at Duke. He conducts market research and and helps invent new features to make partiO the best platform it can be.</p>
			</div>
		</div>

	    <div class="text-center feature image-holder col-sm-3 col-md-2 team-member">
			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/team/ansh.jpg">
			</div>

			<div class="container" variant-clone-closest=".feature">
					<h4 class="text-white team-name">Ansh Bhagat</h4>
					<p class="text-white team-description">Ansh is the Head Campus Amabassador at Yale. His goal is to help partiO expand to Yale and the other Ivy League Universities. He wants to introduce people to the idea of a sharing economy and help them connect to it through partiO.</p>
			</div>
		</div>

	    <div class="text-center feature image-holder col-sm-3 col-md-2 team-member">
			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/team/breno.jpg">
			</div>

			<div class="container" variant-clone-closest=".feature">
					<h4 class="text-white team-name">Breno Alves</h4>
					<p class="text-white team-description">Breno is a new addition to the partiO team. He works with Clayton to build and refine the front-end of the partiO platform.</p>
			</div>
		</div>

	    <div class="text-center feature image-holder col-sm-3 col-md-2 team-member">
			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/team/clayton.jpg">
			</div>

			<div class="container" variant-clone-closest=".feature">
					<h4 class="text-white team-name">Clayton Marinho</h4>
					<p class="text-white team-description">Clayton is a new addition to the partiO team. He works with Breno to build and refine the front-end of the partiO platform.</p>
			</div>
		</div>

	    <div class="text-center feature image-holder col-sm-3 col-md-2 team-member">
			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/team/lucas.jpg">
			</div>

			<div class="container" variant-clone-closest=".feature">
					<h4 class="text-white team-name">Lucas Bassetti</h4>
					<p class="text-white team-description">Lucas is fascinated by web and mobile developing. His goal with partiO is to improve the application and create the best UI experience for the users.</p>
			</div>
		</div>

	    <div class="text-center feature image-holder col-sm-3 col-md-2 team-member">
			<div class="background-image-holder overlay">
				<img alt="Background Image" class="background-image" src="/img/team/petar.jpg">
			</div>

			<div class="container" variant-clone-closest=".feature">
					<h4 class="text-white team-name">Petar Korponaić</h4>
					<p class="text-white team-description">Petar Korponaić is software engineer and author of widely used open source project Meteor Kitchen. He is also a code generator for Meteor.js, a member of useful.io team, and an official professional service provider for Meteor. He’s excited to help develop partiO.</p>
			</div>
		</div>

	</section>
	
	<% include ../partials/footer %>

	<script>
	$(document).ready(function(){
		$('[href="#home"]').click(function(e){
			e.preventDefault();
			window.location = "/";
		});
        
        $('[href="#testimonials"]').click(function(e){
			e.preventDefault();
			window.location = "/#testimonials";
		});
        
        $('[href="#who-are-we"]').click(function(e){
			e.preventDefault();
			window.location = "/#who-are-we";
		});
        
        $('[href="#how-does-it-work"]').click(function(e){
			e.preventDefault();
			window.location = "/#how-does-it-work";
		});
        
        $('[href="#download-now"]').click(function(e){
			e.preventDefault();
			window.location = "/#download-now";
		});
	})
	</script>
</body>
</html>