
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Edit title tag</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/theme-chipotle.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700" rel="stylesheet" type="text/css">
        <link href="css/font-opensans.css" rel="stylesheet" type="text/css">
    </head>

    <body>

				
		<div class="nav-container">
			
			
		
			<nav class="nav-3 overlay">
				<div class="container">
					<div class="row">
						<div class="col-xs-4">
							<a href="#home" class="inner-link" target="default">
								<img alt="Logo" class="logo" src="img/logo-big.png">
							</a>
						</div>
					
						<div class="col-xs-8 text-right">
							<a class="btn btn-xs inner-link" href="#download-now" target="default">Download Now »</a>
							<div class="mobile-toggle">
								<div class="upper"></div>
								<div class="middle"></div>
								<div class="lower"></div>
							</div>
						</div>
					</div>
				
					<div class="row">
						<div class="col-sm-9">
							<ul class="icon-menu">
								<li>
									<a href="#who-are-we" class="inner-link" target="default">
										<i class="icon-ipod-streamline"></i>
										<span>What we do</span>
									</a>
								</li>
							
								<li>
									<a href="#how-does-it-work" class="inner-link" target="default">
										<i class="icon-magic-magic-wand-streamline"></i>
										<span>How it works</span>
									</a>
								</li>
							
								<li>
									<a href="#demo-the-app" class="inner-link" target="default">
										<i class="icon-iphone"></i>
										<span>Demo the App</span>
									</a>
								</li>
							
								<li>
									<a href="#faq" class="inner-link" target="default">
										<i class="icon-bubble-comment-streamline-talk"></i>
										<span>Get In Touch</span>
									</a>
								</li>
							</ul>
						</div>
					
						<div class="col-sm-3 text-right">
							<ul class="menu">
								<li>
									<a href="#home" class="inner-link" target="default">
										Home
									</a>
								</li>
							
								<li>
									<a href="#meet-our-team" class="inner-link" target="default">Meet the Team</a>
								</li>
							
								<li>
									<a href="#testimonials" class="inner-link" target="default">
										Testimonials
									</a>
								</li>
							
								<li>
									<a href="#faq" class="inner-link" target="default">
										FAQ</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		
			
			
		
			
		
			
			
		
			
		
			
			
		
			
		
			
			
		
			
		
			
			
		
			
		
			
			
		
			
		
			
			
		
			
		
			
			
		
			
		
			
			
		
			
		
			
			
		
			
		
			
			
		
			
		
			
			
		
			
		
		</div>
		
		<div class="main-container">
					
			
					
			
					
			
					
			<a id="home" class="in-page-link"></a>
			
			<section class="header header-5">
				<div class="background-image-holder">
					<img alt="Background Image" class="background-image" src="img/newtry.png">
				</div>
				
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1 class="text-white">We're changing how you use "stuff".</h1>
							<h5 class="text-white">Make money from stuff you already own. Get the things you need quickly and easily.</h5>
						</div>
					</div>
				</div>
				
				<div class="modal-video-container">
					<div class="play-button large"></div>
					<div class="modal-video">
						<video controls="">
							<source src="" type="video/webm">
							<source src="video/partiovid.mp4" type="video/mp4">
							<source src="" type="video/ogg">	
						</video>
					</div>
				</div>
				
				<div class="form-holder">
					<form class="contained-form form-email" data-success="Thanks for your submission, we will be in touch shortly." data-error="Please fill all fields correctly.">
						<h6 class="text-white"> </h6>
						<input type="text" name="name" class="signup-name-field validate-required" placeholder="Your Name">
						<input type="text" name="email" class="validate-required validate-email signup-email-field" placeholder="Email Address">
						<input type="submit" value="Start your free trial »">
						<p class="sub">  Download Now on the App Store and Google Play</p>
						<div class="form-error">
							<span>Please fill all fields correctly</span>
						</div>
						
						<div class="form-success">
							<span>Thanks, your details were sent</span>
						</div>
						<iframe srcdoc="" class="mail-list-form">
						</iframe>
					</form>
				</div>			
			</section>
			
			<a id="who-are-we" class="in-page-link"></a>
			
			<section class="features features-3">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
							<h3>The next big social marketplace.</h3>
							<p>PartiO is a social marketplace with the goal of revolutionizing the way college students use their stuff.</p>
						</div>
					</div>
				
					<div class="row">
						<div class="col-sm-4 text-center feature">
							<i class="icon-map-streamline-user"></i>
							<h5>Rent instead of buying.</h5>
							<p>
								If you only need something for a short time, borrow it from members of the community, saving time and money.</p>
						</div>
					
						<div class="col-sm-4 text-center feature">
							<i class="icon-magnifier"></i>
							<h5>Find&nbsp;items within your college.</h5>
							<p>
								Your friends and classmates already own the things you need. PartiO provides a mechanism to connect you to those goods.</p>
						</div>
					
						<div class="col-sm-4 text-center feature">
							<i class="icon-receipt-shopping-streamline"></i>
							<h5>Profit&nbsp;from what you own</h5>
							<p>
								Earn money simply by renting out things you don't need on a daily basis.&nbsp;</p>
						</div>
					</div>
				</div>	
			</section>
			
			<a id="features" class="in-page-link"></a>
			
			<section class="features features-15">
				<div class="row">
					<div class="col-sm-4 text-center feature">
						<i class="icon-handle-streamline-vector"></i>
						<h5 class="text-white">Unique Image Scanning Technology</h5>
						<p class="text-white">
							Scan your product with our product recognition software. Just take a picture of your item and our software will find it's closest match, providing you with a recommended price and eliminating cumbersome data entry.</p>
					</div>
			
					<div class="col-sm-4 text-center feature">
						<i class="icon-map"></i>
						<h5 class="text-white">Completely Autonomous Platform</h5>
						<p class="text-white">
							PartiO has built in calling, texting, and mapping features that help protect your privacy and ensure simplicity of usage.<br><br><br></p>
					</div>
			
					<div class="col-sm-4 text-center feature">
						<i class="icon-bubble-love-streamline-talk"></i>
						<h5 class="text-white">User Rating System</h5>
						<p class="text-white">As a system built on trust, PartiO is keen on ensuring the quality of items and users on the platform. Therefore, we have a rating system that helps weed out bad seeds. ****ASDfasdf<br><br></p>
					</div>
				</div>
			</section>
			
			<section class="features features-5 bg-secondary">
				<div class="container">
					<div class="row v-align-children">
				
						<div class="col-sm-6 col-md-5 feature text-right">
							<h4>We believe in a world where assets are utilized more efficiently, contributing to a more sustainable economy. </h4>
							
						</div>
					
						<div class="col-sm-6 col-md-offset-1 text-center feature">
							<img alt="Feature Image" src="img/partio-angled2.png">
						</div>
		
					</div>
				</div>
			</section>
			
			<a id="prettypicture" class="in-page-link"></a>
			
			<section class="header header-11 overlay parallax">
			
				<div class="background-image-holder">
					<img alt="Background Image" class="background-image" src="img/hero14.jpg">
				</div>
			
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="text-white">PartiO is all about the sharing economy. Why buy and waste when you can rent?</h2>
						</div>
					</div>
				</div>
			</section>
			
			<a id="how-does-it-work" class="in-page-link"></a>
			
			<section class="features features-6">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h3>How does it work?</h3>
						</div>
					</div>
				
					<div class="row">
						<div class="col-md-3 col-sm-6 text-center feature">
							<i class="icon-handle-streamline-vector"></i>
							<h5>Scan your product</h5>
						</div>
					
						<div class="col-md-3 col-sm-6 text-center feature">
							<i class="icon-arrow-streamline-target"></i>
							<h5>Set daily and weekly pricing</h5>
						</div>
					
						<div class="col-md-3 col-sm-6 text-center feature">
							<i class="icon-caddie-shop-shopping-streamline"></i>
							<h5>Accept/deny rental requests</h5>
						</div>
					
						
					
						
					
						<div class="col-md-3 col-sm-6 text-center feature">
							<i class="icon-ribbon"></i>
							<h5>Get paid!</h5>
						</div>
					
						<div class="col-md-3 col-sm-6 text-center feature">
							<i class="icon-iphone-streamline"></i>
							<h5>Search the available products</h5>
						</div>
					
						<div class="col-md-3 col-sm-6 text-center feature">
							<i class="icon-caddie-shopping-streamline"></i>
							<h5>Request rental from user</h5>
						</div><div class="col-md-3 col-sm-6 text-center feature">
							<i class="icon-speech-streamline-talk-user"></i>
							<h5>Meet user using built-in maps</h5>
						</div><div class="col-md-3 col-sm-6 text-center feature">
							<i class="icon-happy-smiley-streamline"></i>
							<h5>Save money and enjoy!</h5>
						</div>
		
					</div>
				</div>
			</section>
			
			<section class="cta cta-10 parallax">
				<div class="background-image-holder">
					<img alt="Background Image" class="background-image" src="img/hero7.jpg">
				</div>
				
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<a class="btn btn-filled super-action inner-link" href="#faq" target="default">FAQ and Contact Us</a>
						</div>
					</div>
				</div>
			</section>
			
			<a id="demo-the-app" class="in-page-link"></a>
			
			<section class="features features-4 bg-secondary hidden-xs">
				<div class="container">
					<div class="row v-align-children">
						<div class="col-sm-6 text-center feature">
							<img alt="Feature Image" src="img/ipad2.png">
						</div>
			
						<div class="col-sm-6 col-md-5 col-md-offset-1 feature">
							<h4>Demo the PartiO App</h4>
							<p>Interact with the demo app on the right! This is a real time representation of the PartiO app in your local area. All items listed are available for rental right now!</p>
						</div>
					</div>
				</div>
			</section>
			
			<a id="download-now" class="in-page-link"></a>
			
			<section class="cta cta-10 parallax">
				<div class="background-image-holder">
					<img alt="Background Image" class="background-image" src="img/hero12.jpg">
				</div>
				
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<a href="#who-are-we">
								<img alt="App Store" src="img/appstore.png">
							</a>
							
							<a href="#who-are-we">
								<img alt="App Store" src="img/googleplay.png">
							</a>
						</div>
					</div>
				</div>
			</section>
			
			<a id="testimonials" class="in-page-link"></a>
			
			<section class="testimonials testimonials-2 bg-secondary">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h4>Hear what others think of PartiO</h4>
						</div>
					</div>
				
					<div class="row">
						<div class="col-md-4 col-sm-6 testimonial">
							<img alt="Avatar" src="img/lauren.jpg">
							<p>
								<br><br><br><br><br><br><br><br><br><br><br><br><br>The app design is great and shows the power of people with a passion. The UI is excellent and makes for a great experience.</p>
							<p>
								<em>— Lauren Hagedorn, Duke, Pysch/Enviro Studies</em>&nbsp; &nbsp; &nbsp;&nbsp;</p>	
						</div>
					
						<div class="col-sm-6 testimonial col-md-4">
							<img alt="Avatar" src="img/jack.jpg">
							<p><br><br><br><br><br><br><br><br><br><br><br><br><br>PartiO is easy to use and intuitive. It's practical and fun. It's literally changed the way I cram for exams.</p>
							<p>
								<em>— Jack Gavigan, Duke, Pre-Med</em>
							</p>	
						</div>
					
						<div class="col-md-4 col-sm-6 testimonial">
							<img alt="Avatar" src="img/pedro.jpg">
							<p><br><br><br><br><br><br><br><br><br><br><br><br><br>PartiO is the best way to make some extra money and save on the fun things you want to do.</p>
							<p><i>- Pedro, University of Fedara, Sophomore</i>&nbsp;</p>	
						</div>
					</div>
				</div>
			</section>
			
			<a id="meet-our-team" class="in-page-link"></a>
			
			<section class="header header-11 overlay parallax">
			
				<div class="background-image-holder">
					<img alt="Background Image" class="background-image" src="img/bk-partio-yellow.jpg">
				</div>
			
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="text-white">Meet our Team</h2>
						</div>
					</div>
				</div>
			</section>
			
			<section class="features features-18">
				<div class="text-center feature image-holder col-sm-2">
					<a href="#who-are-we">
					<div class="background-image-holder overlay">
						<img alt="Background Image" class="background-image" src="img/talles2.jpg">
					</div>
					
					<div class="container" variant-clone-closest=".feature">
							<h4 class="text-white">Talles Souza<br></h4>
							<p class="text-white">Talles is a passionate entrepreneur fascinated by the fields of Finance and Technology. His goal with partiO is to find the best people for the team in order to create a platform that will increase the efficiency of goods. Talles’ goal is to someday be able to rent a Nintendo 3DS and Pokemon game through partiO.<br></p>
					</div>
					</a>
				</div>
				
				<div class="text-center feature image-holder col-sm-2">
					<a href="#who-are-we">
					<div class="background-image-holder overlay">
						<img alt="Background Image" class="background-image" src="img/trenton.jpg">
					</div>
					
					<div class="container" variant-clone-closest=".feature">
							<h4 class="text-white">Trent Large</h4>
							<p class="text-white">Trenton is a tech nerd who spends his free time reading every news blog known to man. He also happens to be the CTO of partiO. He’s currently directing the build-out of the partiO platform and is excited to be able to rent out his tri-lingual collection of Harry Potter books in the near future.</p>
					</div>
					</a>
				</div>
				
				<div class="text-center feature image-holder col-sm-2">
					<a href="#who-are-we">
					<div class="background-image-holder overlay">
						<img alt="Background Image" class="background-image" src="img/grant.jpg">
					</div>
					
					<div class="container" variant-clone-closest=".feature">
							<h4 class="text-white">Christopher Grant</h4>
							<p class="text-white">Grant is in charge of fostering business partnerships at partiO. He’s also the resident problem-solver and visionary and is approximately five steps ahead of any issue.</p>
					</div>
					</a>
				</div><div class="text-center feature image-holder col-sm-2">
					<a href="#who-are-we">
					<div class="background-image-holder overlay">
						<img alt="Background Image" class="background-image" src="img/whitney.jpg">
					</div>
					
					<div class="container" variant-clone-closest=".feature">
							<h4 class="text-white">Whitney Hazard</h4>
							<p class="text-white">Whitney is the Chief Marketing Officer at partiO. She is in charge of all things marketing from developing the brand, to long term business strategy, and everything in between. Her goal is to use technology to solve problems facing the world today. She loves working at a tech startup, and can't wait to make partiO the next big thing.</p>
					</div>
					</a>
				</div><div class="text-center feature image-holder col-sm-2">
					<a href="#who-are-we">
					<div class="background-image-holder overlay">
						<img alt="Background Image" class="background-image" src="img/chunge.jpg">
					</div>
					
					<div class="container" variant-clone-closest=".feature">
							<h4 class="text-white">Chunge Wang</h4>
							<p class="text-white">Chunge is a business analyst at partiO and works on a variety of projects on a day to day basis. He believes that partiO will greatly improve lifestyle of users and the use of belongings.</p>
					</div>
					</a>
				</div><div class="text-center feature image-holder col-sm-2">
					<a href="#who-are-we">
					<div class="background-image-holder overlay">
						<img alt="Background Image" class="background-image" src="img/michael.jpg">
					</div>
					
					<div class="container" variant-clone-closest=".feature">
							<h4 class="text-white">Michael Li</h4>
							<p class="text-white">Michael is the newest member of the partiO executive team. He is responsible for launching the product at Duke. He conducts market research and and helps invent new features to make partiO the best platform it can be.</p>
					</div>
					</a>
				</div>
			</section>
			
			<section class="cta cta-6">
				<div class="container">
					<div class="row v-align-children">
						<div class="col-md-8 col-sm-7">
							<h3>FAQ</h3>
							<p>Read up for more information and answers to your questions!</p>
						</div>
					
						<div class="col-sm-5 text-right col-md-5">
							<a class="btn inner-link" href="#home" target="default">Return to Top</a>
							<a class="btn btn-filled" href="mailto:support@partioapp.com" target="default">Contact Us</a>
						</div>
					</div>
				</div>
			</section>
			
			<a id="faq" class="in-page-link"></a>
			
			<section class="faq faq-1">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class="faq">
								<h5>What can I share on partiO?</h5>
								<p>
									Anything you own that is taking up space. Your old Orgo textbook, your old racing game, your gigantic tent (that, let’s be honest, you won’t use for another 3 months), or your old tennis racket. PartiO is a platform to share the things that would largely go to waste.
								</p>
							</div>
					
							<div class="faq">
								<h5>What can I borrow on partiO?</h5>
								<p>
									Anything! Planning to bake a birthday cake, but don’t have any cooking utensils? Want to play that new game, but don’t own a new console? Have a test coming up, but only need that textbook for two weeks? Let partiO help you connect with your peers to find what you need!  
								</p>
							</div>
					
							<div class="faq">
								<h5>How do I communicate with the person I want to borrow an item from?<br></h5>
								<p>
									PartiO has an integrated chat function. Once you have requested an item from a peer and they have approved your request, you can message them and set up a meeting time and place. You can also give them a call, phone numbers are encrypted and protected to ensure anonymity. It’s as simple as that. 
								</p>
							</div><div class="faq">
								<h5>What happens if the borrower doesn’t return my item? <br></h5>
								<p>
									PartiO is a community based on mutual respect and trust. While our user review system encourages community members to play by the rules, we do understand that there are exceptions to the rule. If a borrower does not return an item, we highly encourage the lender to contact us. We then will contact the user and ask them to return the item as soon as possible. The borrower will be charged a late-return fee that will be transferred to the lender’s  account.  If the borrower does not return the item, we will charge him/her the full amount for the item and will them transfer that amount to the lender’s account. 
								</p>
							</div><div class="faq">
								<h5>How do I exchange the item with the person I am sharing with or borrowing from?<br></h5>
								<p>
									PartiO’s chat function makes it easy to reach out to your peers.  Once you have communicated and found a good time to meet, use the integrated Google Maps feature to set up a meeting point on campus. Then, just meet your peer and exchange the item! 
								</p>
							</div>
						</div>
					
						<div class="col-sm-6">
							<div class="faq">
								<h5>How do I pay to borrow something? </h5>
								<p>Step 1: Sign up.<br>Step 2: Link your debit card to your partiO account.<br>Step 3: Request an item you want.<br>Step 4: Set up a meeting time and place with your peer.<br>Step 5: Meet your peer on campus and get your item.<br>Step 6: Confirm the payment.<br>Step 7: Have fun with your new partiO item.&nbsp;</p>
							</div>
					
							<div class="faq">
								<h5>How do I get paid when people rent from me?</h5>
								<p>Step 1: Sign up.<br>Step 2: Link your debit card to your partiO account.<br>Step 3: Approve a request for your item.<br>Step 4: Set up a meeting time and place with your peer.<br>Step 5: Meet your peer on campus and share your item.<br>Step 6: Once your peer has confirmed the payment, the money will automatically be transferred to your bank account. <br>Step 7: Get excited that you just made easy money.&nbsp;</p>
							</div><div class="faq">
								<h5>What happens if the item I shared with someone gets damaged?</h5>
								<p>PartiO is all about you, the users. Therefore, customer satisfaction is our number one priority. <br>While we cannot be held liable for any damage, we promise to commit reasonable effort to help the user should an item incur damage beyond normal wear and tear. <br>With our user review system put in place, we hope to foster a safe environment based on mutual respect and trust. Again, partiO is all about you.&nbsp;<br></p>
							</div><div class="faq">
								<h5>What happens if I accidently damage the item that I borrowed from a peer? </h5>
								<p>PartiO asks that all borrowers treat the borrowed goods with the utmost of care, but we realize that accidents happen.  Should an item be damaged beyond what can be deemed normal wear and tear, partiO shall evaluate damage and withdraw any amounts from the borrower’s account as necessary to make the lender whole. Borrowers should closely inspect the items they are borrowing before accepting them and immediately prior to returning them.  Lenders should also closely inspect their items before lending them out and immediately after they are returned. &nbsp;<br></p>
							</div>
						</div>
					
					</div>
				
					<div class="row">
						<div class="col-sm-12 text-center">
							<h4>Still have questions? Tweet <a target="_blank" href="https://twitter.com/mrareweb">@partio</a>&nbsp;or email support@partioapp.com</h4>
						</div>
					</div>
				</div>
			</section>
			<footer class="footer footer-4">
				<div class="background-image-holder fadeIn">
					<img alt="Background Image" class="background-image" src="img/hero7.jpg">
				</div>
			
				<ul class="social-links">
					<li>
						<a href="#">
							<i class="icon-facebook"></i>
						</a>
					</li>
		
					<li>
						<a href="#">
							<i class="icon-twitter"></i>
						</a>
					</li>
		
					<li>
						<a href="#">
							<i class="icon-google"></i>
						</a>
					</li>
				</ul>
			
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<a href="#">
								<div class="vnu"><img alt="Logo" src="img/logo-small.png"></div>
								<p class="sub text-white">
									© Copyright 2015 Parti-O, Inc - All Rights Reserved
								</p>
							</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
		
				
		<script src="js/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/flexslider.min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/placeholders.min.js"></script>
        <script src="js/twitterfetcher.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>

				