@media screen and (min-width: 768px) and (max-width: 909px) {

    .feature.app {
        height: 600px;
    }

}

@media screen and (min-width: 910px) {

    .feature.app {
        height: 480px;
    }

}

@media screen and (max-width: 768px) {

    .demo {
        display: none;
    }

}
@media screen and (min-width: 768px) {

    .reversedemo
    {
        display: none;
    }

}

/* DEMO */

.features-6 .feature {
    margin-bottom: 50px !important;   
}

/* APP LINKS */

img.app-button {
    margin-top: 25px;
/*    margin-bottom: 25px;*/
}

/* How it Works */

.how-it-works {
    background-color: #F7F7F7;
}

@media screen and (min-width: 769px) {
    .demo {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        min-height: 650px
    }
}

/*iframe {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 290px;
}*/

/* REVIEW */

.testimonials .slick-track {
    height: 130px;
}

.no-fouc {
	display: none;
}

.testimonials {
   font-size:20px;
   padding:0;
   background:#fafafa;
   max-height: 572px;
   overflow: hidden;
   opacity: 0;
   transition: opacity 1.5s ease;
}

.testimonials.loaded {
  opacity:1;
}

.testimonials .phrase {
  font-size: 20px;
  margin-top: 28px;
  line-height: 25px;
}

.testimonials .bg-image-testimonial {
  background-size: cover !important;
  background-position: center center !important;
}

.testimonials .bar0 {
  margin-bottom:-6.5px;
  transition: background-color 0.5s ease;
  background-color:#f09720;
}

.testimonials .bar1 {
  margin-bottom:-6.5px;
  transition: background-color 0.5s ease;
  background-color:#FF6208;
}

.testimonials .bar2 {
  margin-bottom:-6.5px;
  transition: background-color 0.5s ease;
  background-color:#FFA333;
}

  #bar img {
    vertical-align: top;
    min-height: 26px;
  }

.testimonials .bar3 {
  margin-bottom:-6.5px;
  transition: background-color 0.5s ease;
  background-color:#EE4435;
}

.testimonials .bar4 {
  margin-bottom:-6.5px;
  transition: background-color 0.5s ease;
  background-color:#D1301B;
}

.testimonials .bar5 {
  margin-bottom:-6.5px;
  transition: background-color 0.5s ease;
  background-color:#f09720;
}

.testimonials .slick-slide {
  background-color: #f09720;
  text-align: center;
  color: white;
  height:400px;
}

.testimonials .bottom.slick-slider {
    margin: 15px 0 0px 0;
    height: 130px;
}

.testimonials  .bottom.slick-slider .slick-slide {
  background-color: #fafafa;
  text-align: center;
  color: black;
  height:75px;
}

.testimonials .slick-slider{
  margin-bottom:0px;
  margin-top:0px;
}

.testimonials .slick-prev {
   left:15px;
}

.testimonials .slick-next {
  right:15px;
}

.testimonials hr {
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  border:0;
  border-top:1px solid #eee;
  box-sizing:content-box;
  height:0;
  margin-bottom:20px;
  margin-top:20px;
  background:0 0;
  border:none;
  border-top:solid 3px rgba(255,255,255,.25);
  height:1px;
  margin-bottom:2.1em;
  width:7%;
}

.testimonials cite {
  color:#fff;
  font-family:'Raleway',sans-serif;

  font-style:normal;
  font-weight:600;
  letter-spacing:.015em;
  line-height:2rem;
  text-transform:uppercase;
}

  .testimonials cite span {
    font-size:13px;
  }

.testimonials .cite-position{
  display:block;
  margin-bottom:2.5em;
}

.testimonials .cite-name{
  display:block;
  margin-top: -11px;
}

.testimonials .btn {
  font-size: 14px;
  text-decoration:none;
  border-radius:30px;
  line-height:1.7;
  /*padding:10px 16px;*/
  padding:10px 30px;
  background:0 0;
  border:2px solid ;
  border-color:rgba(255,255,255,.3);
  color:#fff;
  transition:border .2s ease;
  margin-top:0;
  height: auto;
}

.testimonials .btn:hover {
  border:2px solid;
  border-color:#ffffff;
}

.testimonials .sr-only {
  border:0;
  clip:rect(0,0,0,0);
  height:1px;
  margin:-1px;
  overflow:hidden;
  padding:0;
  position:absolute;
  width:1px;
}

.testimonials .blockquote {
  vertical-align:center;
  font-size:17.5px;
}

.testimonials .left {
  width: 50%;
  float: left;
  padding:0 15px 0 15px;
}

.testimonials .right {
  width: 50%;
  float: right;
}

.testimonials .image{
  min-height:100%; min-width:100%
}

.testimonials .bigimage{
  height:100%;
}

/*
.testimonials .cd-author img, .cd-author-info {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
}
*/

.testimonials .cd-author {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    padding: 0 5px;
}

.testimonials .cd-author img {
  margin: 5px 0 10px 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.testimonials .cd-author .cd-author-info {
  text-align: center;
  line-height: 1.2;
}

.testimonials .cd-author .cd-author-info li {
  word-wrap: break-word;
}

.testimonials .cd-author .cd-author-info li:first-child {
  font-size: 14px;
  /*font-size: 0.875rem;*/
}

.testimonials .cd-author .cd-author-info li:last-child {
  font-size: 10px;
  /*font-size: 0.75rem;*/
  color: #6b6b70;
}

@media only screen and (max-width: 627px) {
    
    .testimonials .bottom.slick-slider {
        height: 150px;
    }
    
    .testimonials .slick-track {
        height: 150px;
    }
    
}

@media only screen and (max-width: 768px) {

    .testimonials .left {
      width: 100%;
      float: left;
      padding:0 15px 0 15px;
    }

    .testimonials .right, .slick-next, .slick-prev {
        display: none !important;
    }
    
}

@media only screen and (min-width: 1170px) {

  .testimonials .phrase {
    font-size: 28px;
    line-height: 35px;
  }

  .testimonials cite span {
    font-size:17px;
  }

  .testimonials .btn {
    font-size:18px !important;
  }
}

@media only screen and (min-width: 1000px) and (max-width:1169px) {
  .testimonials .phrase {
    font-size: 20px;
    line-height: 31px;
  }

  .testimonials .btn {
    font-size:16px !important;
  }

  .testimonials cite span {
    font-size:15px;
  }
}

@media only screen and (min-width: 768px) and (max-width:999px) {

  .testimonials .cd-author .cd-author-info {
    line-height: 1.4;
  }

  .testimonials .phrase {
    font-size: 18px;
    line-height: 28px;
  }

  .testimonials cite span {
    font-size:14px;
  }

  .testimonials .btn {
    font-size:15px !important;
  }

  /*.testimonials .cd-author .cd-author-info li:first-child {*/
    /*font-size: 14px;*/
    /*font-size: 1rem;*/
  /*}*/

  /*.testimonials .cd-author .cd-author-info li:last-child {*/
    /*font-size: 12px;*/
    /*font-size: 0.875rem;*/
  /*}*/
}



/*.reviews {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.caption {
    font-size: 20px;
}

.person-name {
    display: block;
    text-align: center;
    padding-top: 10px;
}*/

/*.slider-nav .slick-slide img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    width: 100%;
    border-radius: 50%;
    padding: 10px;
    opacity: 0;
    cursor: pointer;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.slider-nav .slick-slide.slick-active img {
    opacity: .6;
}

.slider-nav .slick-slide.slick-active.slick-center img {
    -webkit-filter: grayscale(0) !important;
    filter: grayscale(0) !important;
    opacity: 1
}*/

/* FOOTER */

footer {
    background-color: #272727;
}

.footer-4 .social-links li {
    width: 50%;
}

/* FAQ */

.parallax.faq-top-image {
    top: -100px;
}

/* MEET OUR TEAM */

/*@media (max-width: 767px) {
    .header-11 {
        padding: 160px 0;
    }
}

.parallax.team-top-image {
    top: 0;
}*/

.meet-our-team {
    padding: 0;
    /*padding-top: 50px;*/
    /*padding-bottom: 50px;*/
}

.team-name {
    font-size: 24px;
}

.team-description {
    font-size: 11px;
}

.hidden {
    display: none;
}

.show-more {
    margin-top: 25px;
    margin-bottom: 25px;
}
