	<footer class="footer footer-4">
		<div class="background-image-holder fadeIn">
			<img alt="Background Image" class="background-image" src="/img/background/hero7.jpg">
		</div>


		<ul class="social-links">
			<li>
				<a href="https://www.facebook.com/partioapp" target="_blank">
					<i class="icon-facebook"></i>
				</a>
			</li>

			<li>
				<a href="https://www.instagram.com/partioapp" target="_blank">
					<i class="icon-instagram"></i>
				</a>
			</li>

	<!--
			<li>
				<a href="#">
					<i class="icon-google"></i>
				</a>
			</li>
	-->
		</ul>

		<div class="container">

			<div class="row">
				<div class="col-sm-12 text-center">
					<a href="#">
						<a href="#home" class="vnu"><img alt="Logo" src="/img/logo-small.png"></a>

	                    <div class="col-sm-12 text-center">
	                        <p class="sub text-white">
	                            © Copyright 2015 Parti-O, Inc - All Rights Reserved
	                        </p>
	                    </div>
					</a>
				</div>
			</div>
		</div>
	</footer>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/TweenMax.min.js"></script>
<script src="/js/ScrollToPlugin.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/flexslider.min.js"></script>
<script src="/js/smooth-scroll.min.js"></script>
<script src="/js/placeholders.min.js"></script>
<script src="/js/twitterfetcher.min.js"></script>
<script src="/js/spectragram.min.js"></script>
<script src="/js/parallax.min.js"></script>
<script src="/js/sweetalert.min.js"></script>
<script src="/js/slick.min.js"></script>

<!-- SOURCE -->
<script src="/scripts/scripts.js"></script>

<!-- DIST -->
<!--<script src="/scripts/scripts-min.js"></script>-->

<script>
	if (window.jQuery ) {
		$(document).ready(function(){
			setTimeout(function() {
				$('.testimonials').addClass('loaded');
			}, 1000);

		})
	}

	(function(i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function() {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o),
			m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
	ga('create', 'UA-67235292-1', 'auto');
	ga('send', 'pageview');
</script>
