<div class="nav-container">
	<nav class="nav-3 overlay">
		<div class="container">
			<div class="row">
				<div class="col-xs-4">
					<a href="#home" class="inner-link" target="default">
						<img alt="Logo" class="logo" src="/img/logo-big.png">
					</a>
				</div>
				<div class="col-xs-8 text-right">
					<a class="btn btn-xs inner-link" href="#download-now" target="default">Download Now »</a>
					<div class="mobile-toggle">
						<div class="upper"></div>
						<div class="middle"></div>
						<div class="lower"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-9">
					<ul class="icon-menu">
						<li>
							<a href="#who-are-we" class="inner-link" target="default">
								<i class="icon-ipod-streamline"></i>
								<span>What we do</span>
							</a>
						</li>

						<li>
							<a href="#how-does-it-work" class="inner-link" target="default">
								<i class="icon-magic-magic-wand-streamline"></i>
								<span>How it works</span>
							</a>
						</li>

						<li>
							<a href="#download-now" class="inner-link" target="default">
								<i class="icon-iphone"></i>
								<span>Get the App</span>
							</a>
						</li>
					    <li>
					      <a href="/faq" target="default">
					        <i class="icon-bubble-comment-streamline-talk"></i>
					        <span>FAQ</span>
					      </a>
					    </li>
	<!--
						<li>
							<a href="#faq" class="inner-link" target="default">
								<i class="icon-bubble-comment-streamline-talk"></i>
								<span>Get In Touch</span>
							</a>
						</li>
	-->
					</ul>
				</div>
				<div class="col-sm-3 text-right">
					<ul class="menu">
						<li>
							<a href="#home" class="inner-link" target="default">
								Home
							</a>
						</li>

						<!-- <li>
							<a href="/team" class="inner-link" target="default">
	                            Meet the Team
	                        </a>
						</li> -->

						<li>
							<a href="#testimonials" class="inner-link" target="default">
								Testimonials
							</a>
						</li>

						<li>
							<a href="/contact" class="inner-link" target="default">
							Contact Us</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</div>
